#Mission-landing-section {
    height: 100vh;
    width: 100vw;
    background: url(../images/smg.JPG) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    flex-direction: column;
    display: flex;
  align-items: center;
  }
.photo-container {
display: flex;
}
.mission-statement-container{
    display: flex;
}
.our-goals-header {
    color: goldenrod;
}
.our-goals-text{
    font-size: 20px;
line-height: 3vh;
}
.our-mission-container {
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    margin: 40px;
    margin-left: 80px;
    flex-direction: column;
    text-align: center;
    width: 90vw;
    font-family: 'Fjalla One', sans-serif;
    animation: fadeInRight;
    animation-duration: 3s;
} 
.our-goals-container {
    padding: 20px;
    display: flex;
    margin: 50px;
    flex-direction: column;
    text-align: center;
    width: 90vw;
    margin-left: 80px;
    font-family: 'Fjalla One', sans-serif;
    animation: fadeInLeft;
animation-duration: 3s;
background-color: rgba(0,0,0,0.5);
}
.mission-statement-header {
    color: white;
}
.our-goals-header {
    color: white;
}
.our-goals-text{
    font-size: 20px;
line-height: 3vh;
}
.mission-statement-text{
    font-size: 20px;
    line-height: 3vh;
}
#mission-landing-page-video-section {
    width: 100vw;
    height: 80vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items:center;
    padding: 20px;
    margin: 20px;
    animation: fadeInLeft;
    
  }
.mission-image1{
    background: url(../images/IMG_3688.JPG) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: contain;
    width: 40vw;
    padding: 10px;
    height: 30vh;
}

.mission-image2{
    background: url(../images/IMG_3689\ 2.JPG) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: contain;
    width: 40vw;
    padding: 10px;
    height: 30vh;
}
.italic-quote-from-jared{
   color: whitesmoke;
   animation: fadeIn;
}
.goals-and-mission-container{
    display: flex;
}
#upcoming-events-section{
    width: 100vw;
    height: 100vh;
    padding: 10px;
    background-color: rgb(37, 37, 37);
}
.mission-landing-page-video-section-description{
    margin: 10px;
    padding: 10px;
}
.mission-landing-page-video-section-description-text{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;

}
.huh{
    background-color: rgb(59, 59, 59);
    padding: 20px;
}
.about-us{
    text-align: center;
    margin-left: 130px;
}
.highlight-reel-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.picture-grid-mission{
    display: flex;
    flex-direction: column;
}
.smg-logo-flex-box{
    display: flex;

}
