.flex-row {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  height: 50vh;
}

#WWA-landing-section {
  height: 100vh;
  width: 100vw;
  background: url(../images/purduearena.jpeg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: flex;
  flex-direction: column;
  display: flex;
align-items: center;
}


#who-are-we-header-main-text{
display: flex;
align-items: center;
justify-content: center;
height:90vh;
font-size: 4rem;
margin-top: -20px;
animation: fadeIn;
animation-duration: 5s;
font-family: 'Fjalla One', sans-serif;
}

#scroll-to-see{
justify-content: center;
  text-align: center;
  font-weight: bolder;
  color: white;
  margin: 20px;
  background-color: rgba(0,0,0,0.5);
  width: 10vw;
  padding: 10px;
  text-decoration: none;
}

.flex-image-1 {
  background: url(../images/jaredHoopin.png) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 450px;
  height: 350px;
  margin: 10px;
  padding: 10px;
  justify-self: flex-end;
  transform: translatey(0px);
  animation: float 3s ease-in-out infinite;
}

.wwa-personal-description {
  width: 450px;
  word-wrap: break-word;
  line-height: 25px;
  font-family: 'Fjalla One', sans-serif;
}

.wwa-personal-header{
  font-family: 'Fjalla One', sans-serif;
  color: goldenrod;
}
.flex-image-2 {
  background: url(../images/jaime.JPG) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 450px;
  height: 350px;
  margin: 10px;
  padding: 10px;
  justify-self: flex-end;
  transform: translatey(0px);
  animation: float 3s ease-in-out infinite;
}

.flex-row2 {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-evenly;
  align-items: center;
  height: 50vh;
}

.flex-image-3 {
  background: url(../images/melik2.JPG) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 450px;
  height: 350px;
  margin: 10px;
  padding: 10px;
  justify-self: flex-end;
  transform: translatey(0px);
  animation: float 3s ease-in-out infinite;
}


.flex-image-4 {
  background: url(../images/jalen.JPG) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 450px;
  height: 350px;
  margin: 10px;
  padding: 10px;
  justify-self: flex-end;
  transform: translatey(0px);
  animation: float 3s ease-in-out infinite;
}


.flex-image-5 {
  background: url(../images/avatar.webp) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: contain;
  width: 450px;
  height: 350px;
  margin: 10px;
  padding: 10px;
  justify-self: flex-end;
  transform: translatey(0px);
  animation: float 3s ease-in-out infinite;
}

.flex-image-6 {
  background: url(../images/torr.jpeg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 450px;
  height: 350px;
  margin: 10px;
  padding: 10px;
  justify-self: flex-end;
  transform: translatey(0px);
  animation: float 3s ease-in-out infinite;
}

@keyframes float {
	0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(-20px);
	}
	100% {
		transform: translatey(0px);
	}
}

.flex-image-7 {
  background: url(../images/kevinduncan.jpeg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 450px;
  height: 350px;
  margin: 10px;
  padding: 10px;
  justify-self: flex-end;
  transform: translatey(0px);
  animation: float 3s ease-in-out infinite;
}

.nav-link-wwa {
  width: 90vw;
  text-align: right;
  margin-right: 10vw;
  margin-top: 20px;
  color: goldenrod;
  text-decoration: none;
}