#myvideo{
    position: fixed;
    right: 10;
    bottom: 0;
    min-width: 100vw;
    min-height: 100vh;
    z-index: -10;
}
.navigation-bar-centered{
    display: flex;
    justify-content: center;
    align-items: center;
}
.contact {
    font-size: 5em;
    text-align: center;
    width: 100vw;
    font-family: 'Fjalla One', sans-serif;
    margin-left: 150px;
    animation: fadeIn;
    animation-duration: 8s;
    color: goldenrod;
}
.contact-label-flex-item{
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 100vh;
    color: white;
}
.video-overlay{
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.5);
    position: fixed;
    right: 10;
    bottom: 0;
    min-width: 100vw;
    min-height: 100vh;
    z-index: -9;
}
.contact-smg-container{
    width: 100vw;
    height: 130vh;
    background-color: #1a1a1a;
}
.mission-statement-text-contact{
    font-size: 20px;
    line-height: 2em;
}
.smg-questions{
    font-size: 20px;
    line-height: 3em;
}
.standard-container-2{
    background-color: rgb(59, 59, 59);
    padding: 90px;
    display: flex;
    background: url(../images/hooperss.jpeg) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}