.navigation-container {
    background-color: rgba(0,0,0,0.5);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    height: 15vh;
}

.SMG-symbol {
    align-self: flex-start;
    margin: 5px 0px auto 50px;
    font-size: 70px;
    padding: 5px;
}


.navigation-items-flex-container{
    display: flex;
}