html { 
    width: 100vw;
    height: 100vh;
    margin: 0px;
    padding: 0px;
    background-color: #1a1a1a;
    color: white;
  }

 .home-flex-container {
display: flex;
justify-content: space-evenly;
 }

 .home-column {
   width: 30vw;
   height: 100vh;
 }

 .item2 {
  flex-grow: 1;
 }

 .item2 {
  background: url(../images/melik.JPG) no-repeat center center; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
 }

 .smg-home{
   font-size: 5em;
   padding: 3px;
   margin: 2px;
   margin-left: 115px;
   animation: fadeIn;
   animation-duration: 2s;
   
 }



 .item3 {
  flex-grow: 1;
 }
 .item3 {
  background: url(../images/jaime.JPG) no-repeat center center; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
 }

 .item4 {
  background: url(../images/ang.JPG) no-repeat center center; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
 }
 

 .home-smg-title {
   font-size: 6rem;
   margin: -10px;
   margin-top: 10px;
   text-align: center;
   font-family: 'Fjalla One', sans-serif;
 }

 .S{
  color: goldenrod;
 }

 .home-smg-description {
   line-height: 150%;
   font-family: 'Fjalla One', sans-serif;
    font-size: 1.5em;
    color: goldenrod;
    padding: 13px
 }

 .good{
  animation: fadeInLeft;
  animation-duration: 4s;
 }
 .more {
  animation: fadeInLeft;
  animation-duration: 3s;
 }
 
 .home-smg-description{
  animation: fadeIn;
  animation-duration: 5s;
  text-align: center;
 }
 .see{
  animation: fadeInLeft;
  animation-duration: 2s;
 }

 .home-contact-button {
  display: inline-block;
  margin-left: 75px;
  text-decoration: none;
    height: auto;
    padding: 15px 32px;
    background: transparent;
    background-image: none !important;
    border: 0.5px solid goldenrod;
    color: inherit;
    letter-spacing: 0.15em;
    font-family: "Unite", sans-serif;
    font-size: 11px;
    font-weight: 700;
    line-height: 1;
    text-transform: uppercase;
    color: #ffffff !important;
    background-color: black;
 }